<div class="tabs">
  <%= link_to "Daily (#{@tasks_by_board['daily'] || 0})", maybedo_tasks_path(board: 'daily'), class: "tab #{'active' if params[:board] == 'daily' || params[:board].nil?}" %>
  <%= link_to "Weekly (#{@tasks_by_board['weekly'] || 0})", maybedo_tasks_path(board: 'weekly'), class: "tab #{'active' if params[:board] == 'weekly'}" %>
  <%= link_to "Monthly (#{@tasks_by_board['monthly'] || 0})", maybedo_tasks_path(board: 'monthly'), class: "tab #{'active' if params[:board] == 'monthly'}" %>
</div>


<div class="whiteboard">
  <h1>MaybDo</h1>
  <% if @board == 'daily' %>
    <div class="add-daily-challenge">
      <%= button_to 'DC', add_daily_challenge_maybedo_tasks_path, class: 'btn btn-primary', method: :post %>
    </div>
  <% end %>

  <div class="maybedo-list">
    <% if @maybedos.empty? %>
      <div class="empty-state"><%= @empty_phrase %></div>
    <% else %>
      <% @maybedos.each do |maybedo| %>
        <div class="maybedo-item" style="color: <%= maybedo.color %>;">
          <div class="note-title"><%= maybedo.title %></div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

<div class="tray">
  <div class="marker-container">
    <%= link_to new_maybedo_task_path(color: 'red', board: params[:board]), class: "marker red-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap red-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'green', board: params[:board]), class: "marker green-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap green-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'purple', board: params[:board]), class: "marker purple-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap purple-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'orange', board: params[:board]), class: "marker orange-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap orange-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'black', board: params[:board]), class: "marker black-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap black-cap"></div>
    <% end %>
  </div>
</div>
