<div class="tabs">
  <%= link_to "Daily (#{@tasks_by_board['daily'] || 0})", maybedo_tasks_path(board: 'daily'), class: "tab #{'active' if params[:board] == 'daily' || params[:board].nil?}" %>
  <%= link_to "Weekly (#{@tasks_by_board['weekly'] || 0})", maybedo_tasks_path(board: 'weekly'), class: "tab #{'active' if params[:board] == 'weekly'}" %>
  <%= link_to "Monthly (#{@tasks_by_board['monthly'] || 0})", maybedo_tasks_path(board: 'monthly'), class: "tab #{'active' if params[:board] == 'monthly'}" %>
  <%= link_to "🎉 (#{@tasks_by_board['surprise'] || 0})", maybedo_tasks_path(board: 'surprise'), class: "tab #{'active' if params[:board] == 'surprise'}" %>
</div>


<div class="whiteboard">
  <h1>MaybDos</h1>

  <div class="maybedo-list">
    <% @maybedos.each do |maybedo| %>
      <div class="maybedo-item" style="color: <%= maybedo.color %>;">
        <div class="note-title"><%= maybedo.title %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="tray">
  <div class="marker-container">
    <%= link_to new_maybedo_task_path(color: 'red', board: params[:board]), class: "marker red-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap red-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'green', board: params[:board]), class: "marker green-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap green-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'purple', board: params[:board]), class: "marker purple-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap purple-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'orange', board: params[:board]), class: "marker orange-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap orange-cap"></div>
    <% end %>
    <%= link_to new_maybedo_task_path(color: 'black', board: params[:board]), class: "marker black-marker" do %>
      <div class="marker-body"></div>
      <div class="marker-cap black-cap"></div>
    <% end %>
  </div>
</div>
